.container {
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif; 
}

.static-block {
    position: fixed; 
    top: 0px; 
    width: 100%; 
    background-color: white;
    padding-bottom: 20px;
}

.header {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 15px;
}

h1 {
    color: #363636;
    font-weight: 400;
}

.search-grid {
    display: grid;
    grid-template-columns: 1fr minmax(300px, 1fr) min-content 1fr;
    grid-template-rows: 1fr;
}

.input::placeholder {
    color: #dbdbdb;
}

.input {
    box-sizing: border-box; 
    border-color: #dbdbdb;
    height: 40px;
    cursor: text;
    box-shadow: inset 0 1px 2px #dbdbdb;
    grid-column: 2/3;
    border-radius: 4px;
    border-width: 1px;
    font-size: 1.25rem;
    color: #363636;
}

.input-label {
    grid-column: 2/3;
    margin: 0;
    color: #4A4A4A;
    font-size: 0.75rem;
    font-weight: 400;
}

.button {
    grid-column: 3/4;
    grid-row: 1/2;
    border-radius: 4px;
    background: #4A4A4A;
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 0px 10px;
    margin: 0px;
    margin-left: 10px;
    cursor: pointer;
}

.button:disabled {
    background: white;
    color: #4A4A4A;
}

.pagination {
    width: 95%;
    display: inline-block;
    text-align: right;
    margin-right: 5%;
}

.pagination button {
    border: 1px solid transparent;
    background: white;
    font-weight: 600;
    color: #363636;
    cursor: pointer;
}

.pagination button:disabled {
    color: lightgray;
}

.books-start-end {
    font-size: 0.8rem;
    font-weight: 500;
}

.books-block {
    padding-top: 200px;
}

.books-cards {
    margin: 30px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: min-content;
    grid-gap: 20px;
}

.book-card {
    display: flex;
    justify-content: left;
}

.book-card img {
    margin-right: 10px;
}

.book-title {
    font-size: 0.8rem;
    font-weight: 600;
    margin: 0px;
}

.book-author {
    font-size: 0.8rem;
    margin: 0px;
    margin-top: 10px;
}

.error {
    color: red;
    display: grid;
    place-items: center;
}

.no-books {
    display: grid;
    place-items: center;
}

.progress-bar {
    display: flex;
    justify-content: center;
}

.bar-label {
    margin-right: 10px;
}
